
body{
	
}
h1{
	margin-left: 20px;
}

.mainBloc{
	border: solid 2px green;
	height: 500px;
}
.pictures{
	border: solid 2px blue;
	margin: 5px;
	height: 400px;
}

.inputBloc{
	border: solid 2px yellow;
	margin: 5px;
	height: 100px; 
}

button{
	margin: 5px;
}