
body{
    background-color: #cccccc;
    background-image: url("../images/bgimage.jpg");
}

h1{
	margin-left: 65px;
}

.mainBloc{
	padding: 0px;
	/*height: 500px;*/
}

.buttonBloc{
	margin-left: -14px
}

.pictures{
	margin: 5px 0px 5px 0px;
	/*padding-left: 20px;*/
	height: 400px;
}

.inputBloc{
	margin: 5px;
	height: 100px;
}

button{
	margin: 5px 10px 5px 0px;
	/*padding: 0px;*/
}

.gif{
	margin: 5px 10px 5px 0px;
	/*padding: 10px;*/
}